@page
@model Frontend.Pages.DetailsModel
@{
}

<table class="table">
    @foreach (var dato in Model.DatoUser)
    {
        <tr>
            <td>@dato.Id</td>
            <td>@dato.Email</td>
            <td>@dato.Password</td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="/DetailsId/DetailsId" asp-route-DatoUserId="@dato.Id">Ver</a>
            </td>
        </tr>
    }
</table>