@page
@model Frontend.Pages.DetailsIdModel
@{
}

<table class="table">
        <tr>
            <td>@Model.DatoUser.Id</td>
            <td>@Model.DatoUser.Email</td>
            <td>@Model.DatoUser.Password</td>
        </tr>
</table>