@page
@model Minuta.App.LoginModel
@{
}
<h1>Datos de Usuarios</h1>

<table class="table">
    @foreach (var item in Model.DatosUsser)
    {
        <tr>
        <td>@item.Id</td>
        <td>@item.Edad</td>
        <td>@item.Nombre</td>
        <td>
            <a asp-page="./Detalle" class="btn btn-outline-info table-btn" asp-route-LoginID=@item.Id>
                <i class="bi bi-info-circle"></i>
                Detalle
            </a>
            <a asp-page="./Editar" class="btn btn-outline-warning table-btn" asp-route-LoginID=@item.Id>
                <i class="bi bi-pen-fill"></i>
                Editar
            </a>
            <a asp-page="./Eliminar" class="btn btn-outline-danger" asp-route-LoginID=@item.Id>
                <i class="bi bi-trash2-fill"></i>               
                Eliminar
            </a>
        </td>
        </tr>
    }
</table>
<a asp-page= "./Agregar" class="btn btn-success">
    <i class="bi bi-person-plus"></i>
    Agregar Usuario
</a>
